# Environment
NODE_ENV=development

# Server
PORT=3001

# Database
# Use 'postgres' when running with Docker, 'localhost' when running manually
# Port 5432 is the internal Docker port, use 5434 to connect from host machine
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=aow
POSTGRES_PASSWORD=aow
POSTGRES_DB=aow

# JWT
JWT_SECRET_KEY=secret_key
JWT_EXPIRATION=3600

# Game configurations
# For booleans, use 0 or 1 instead of false/true.

# Game - Province Improvement Prices
PRODUCTION_IMPROVEMENT_UNITY_PRICE=67.5
TAXATION_IMPROVEMENT_UNITY_PRICE=55.9

# Game - Province Incoming
INCOMING_PER_PRODUCTION_LEVEL=3.85
INCOMING_PER_TAXATION_LEVEL=2.98

# Game - Province Passives
PROVINCE_INCOMING_REDUCTION_BY_WARS_DURATION=30
PROVINCE_INCOMING_REDUCTION_BY_COALITION_DURATION=30

# Game - Military Power
MILITARY_POWER_PER_DIVISION=1.45
MILITARY_POWER_PER_TANK=2.38
MILITARY_POWER_PER_AIRCRAFT=4.19
MILITARY_POWER_PER_WARSHIP=4
MIN_MILITARY_POWER_DIFF_TO_GUARANTEE_INDEPENDENCE=65

# Game - Opinions
ADD_OPINION_WHEN_JOIN_ALLIANCE=25
SUBTRACT_OPINION_WHEN_BREAK_ALLIANCE=25
ADD_OPINION_WHEN_TARGET_ACCEPT_JOIN_ALLIANCE=40
SUBTRACT_OPINION_WHEN_TARGET_REFUSE_JOIN_ALLIANCE=12
SUBTRACT_OPINION_WHEN_DECLARE_WAR=100
SUBTRACT_OPINION_WHEN_DECLARE_WAR_TARGET=180

# Game - Focus
ALLOW_CHANGE_FOCUS_EVERY_STAGE=20

# Game - Aggressiveness
AGGRESSIVENESS_GAIN_PER_PROVINCE_DEMAND=7
INCREASE_AGGRESSIVENESS_GAIN_PER_PROVINCE_DEMAND_CAPITAL=20
AGGRESSIVENESS_REDUCTION_PER_STAGE=7

# Game - Personalities
CHANGE_PACIFIC_PERSONALITY_WHEN_REACH_TOTAL_AGGRESSIVENESS_OF=501

# Game - AI
MAX_GENERATED_ACTIONS=5
MAX_AI_ALLIES_ALLOWED=3
MAX_PROVINCES_IMPROVEMENT_PER_STG=5

# Game - Wars
VICTIMS_CAN_DEMAND_PROVINCES_WHEN_WIN_WARS=0

# Game - Trading
TRADING_DECISION_DURATION=5